@page "/{*remaining}"
@using CSCDNMA.Model;
@using CwctMa.Components;
@using CwctMa.Model.Xmd
@using CwctMa.Helpers
@using Markdig
@using System.IO
@using Markdig.Extensions.Xmd;
@using Markdig.Extensions.Xmd.CSCode;
@using Markdig.Prism;
@using MathJaxBlazor;
@using Microsoft.AspNetCore.Html
@inherits XmdContentComponent

@if (_content != null && CurrentPage == Remaining)
{
    @((MarkupString)_content)
}
else if(_content == null)
{
    <div class="text-center">
        <div class="spinner-border inline" role="status">
            <span class="display-hidden">A spinner, that indicates page loading</span>
        </div>
        <p>Loading...</p>
    </div>
}

<PageTitle>@_title - @Globals.Config.ShortName</PageTitle>
