<div class="nav-items@(NavMenuCssClass)">
    @foreach (Page page in Globals.Config.Pages) {
    <div class="nav-item">
        @if(page.Id == Header.GetPage())
        {
            <div class="active">@(page.Name)</div>
        }
        else
        {
            <a href="/@(page.Id)">@(page.Name)</a>
        }
    </div>
    }
</div>
@code {
    [Parameter]
    public Header Header { get; set; }
    [Parameter]
    public string NavMenuCssClass { get; set; }
}
