@using CzSoft.CwateMa.Model
@using CzSoft.CwateMa.Model.Xmd
<!-- #region Navigation menu -->
<div class="container">
    <nav class="nav menu" aria-label="Main">
        <a href="/" class="brand">
            <img src="@Cdn.GetUrl($"img/{Globals.Config.Id}@v1.0/{Globals.Config.Id}-logo.svg")">
        </a>
        <a class="nav-mobile" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation"></a>
        <div class="nav-items dropdown-menu navbar-collapse collapse" aria-labelledby="navbar-main" id="navbar-main">

            @foreach (Metadata page in Globals.Pages.Select(itm =>
            {
               if (itm.NavMenuId == -1) itm.NavMenuId = short.Parse($"{Math.Min(Globals.Pages.Max(x => x.NavMenuId) + Globals.Pages.Count, (int)short.MaxValue)}");
               return itm;
            }).Where(x => x.IsNavMenuItem == true).OrderBy(x => x.NavMenuId).ThenBy(y => y.Id))
            {
                <div class="nav-item">
                    <NavLink Match="NavLinkMatch.All" class="" href="@($"/{page.Id.TrimStart('/')}")" ActiveClass="active">
                        @(page.Title)
                    </NavLink>
                </div>
            }
        </div>
    </nav>
</div>
<!-- #endregion -->