@using CzSoft.CwateMa.Model
@using CzSoft.CwateMa.Model.Xmdl
@code{
    IEnumerable<NavigationItem> _pages = Globals.NavHierarchy.Items;
}
<!-- #region Navigation menu -->
<div class="container">
    <nav class="nav menu" aria-label="Main">
        <a href="/" class="brand">
            <img src="@Cdn.GetUrl($"img/{Globals.Config.Id}@v1.0/{Globals.Config.Id}-logo.svg")" alt="">
        </a>
        <a class="nav-mobile" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation"></a>
        <div class="nav-items dropdown-menu navbar-collapse collapse" aria-labelledby="navbar-main" id="navbar-main">
            <NavigationMenu Items="_pages"/>
        </div>
    </nav>
</div>
<!-- #endregion -->
@code {
    protected override void OnParametersSet()
    {
        Globals.RefreshPages();
    }
}